@media (min-width: 1024px) {
  .btn-menu.search-icon.ti-menu {
    display: none;
  }
}
/* IPad */

@media (min-width: 768px) and (max-width: 1023px) {
  .modal-container {
    width: 500px;
    position: fixed;
    max-width: calc(100% - 32px);
    top: 65px;
  }
}

@media (min-width: 767px) {
  i#mobile-menu {
    display: none;
  }
}
/* --------Mobile----------- */ /* */
@media (max-width: 767px) {
  .header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }

  .nav {
    display: block;
    flex-direction: column;
    height: 45px;
  }

  .header ul,
  a {
    width: 100%;
  }

  .header ul :nth-child(1) {
    max-width: calc(100% - 62px);
  }

  .slider--content {
    display: none;
  }

  /* .nav {
    display: block;
  } */

  .header .search-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  i.btn.search-icon.ti-search {
    display: none;
  }

  .member-list {
    flex-direction: column;
  }

  .place-list {
    flex-direction: column;
  }
  .place-item {
    padding: 10px 8px;
  }

  .member-avt {
    width: 80%;
  }

  .contact {
    flex-direction: column;
  }

  .form {
    margin-top: 16px;
    flex-direction: column;
  }

  .modal-container {
    max-width: calc(100% - 20px);
  }
  input.form-control.name {
    margin-bottom: 18px;
  }
}
